<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="shortcut icon" href="/css/images/siteicon.png" />
  <meta charset="UTF-8">
  <title>Главная Админа</title>
  <link rel="stylesheet" href="src/main/resources/static/styles.css" th:href="@{/styles.css}">
</head>
<body class="main-body">


<center>
  <div class="container mt-5">
    <h1 class="text-center mb-4">Представленные модели</h1>
    <div class="row justify-content-center">
      <div class="col-md-6">

        <a href="/users" class="btn btn-success btn-block mb-3 animated-button">
          <form>Пользователи</form>
        </a>
          <br><br>
        <a href="/locations/location-list" class="btn btn-success btn-block mb-3 animated-button">
          <form>Локации</form>
        </a>
          <br><br>
        <a href="/news/news-list" class="btn btn-success btn-block mb-3 animated-button">
          <form>Новости</form>
        </a>
          <br><br>
        <a href="/logs" class="btn btn-success btn-block mb-3 animated-button">
          <form>Логи</form>
        </a>
          <br><br>
        <a href="/site/MainPage" class="btn btn-success btn-block mb-3 light-animated-button">
          <form>На сайт</form>
        </a>
<!--        <a href="/benefits" class="btn btn-success btn-block mb-3 animated-button">-->
<!--          <form>Льготы</form>-->
<!--        </a>-->
<!--        <br><br>-->
<!--        <a href="/categorys" class="btn btn-success btn-block mb-3 animated-button">-->
<!--          <form>Категории</form>-->
<!--        </a>-->
<!--        <br><br>-->
<!--        <a href="/suppliers" class="btn btn-success btn-block mb-3 animated-button">-->
<!--          <form>Поставщики</form>-->
<!--        </a>-->
<!--        <br><br>-->
<!--        <a href="/products" class="btn btn-success btn-block mb-3 animated-button">-->
<!--          <form>Товары</form>-->
<!--        </a>-->

      </div>
    </div>
  </div>
</center>

</body>
</html>
